body {
        background-color: 020049;
        background-image: url("");
}
p {
        font-family: arial;
        font-weight: bold;
        font-size: 20px;
	color: cyan;
}
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #0000FF;
        font-family: passion one;
        font-size:23px;
}

li {
        float: left;
}

li a {
        display: block;
        color: cyan;
        text-align: center;
        padding: 14px 250px;
        text-decoration: none;
}

li a:hover {
        background-color: darkblue;
}
